{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success" role="alert">
  <div id="primary-notification-div">
    {{ message }}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<h4 class="header">Change Password</h4>
<form class="form-horizontal reset-form" action="" method="post">
  {% csrf_token %}
  {% if form.errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <div class="form-group field-form">
    <div class="col-sm-3">
      {{form.password.label}}
    </div>
    <div class="col-sm-9">
      {{form.password}}
      {% if form.errors.password %}
      <label for="" class="error text text-danger">{{form.errors.password|striptags}}</label>
      {% endif %}
    </div>
  </div>

  <div class="form-group field-form">
    <div class="col-sm-3">
      {{form.new_password.label}}
    </div>
    <div class="col-sm-9">
      {{form.new_password}}
      {% if form.errors.new_password %}
      <label for="" class="error text text-danger">{{form.errors.new_password|striptags}}</label>
      {% endif %}
    </div>
  </div>

  <div class="form-group field-form">
    <div class="col-sm-3">
      {{form.new_password_confirm.label}}
    </div>
    <div class="col-sm-9">
      {{form.new_password_confirm}}
      {% if form.errors.new_password_confirm %}
      <label for="" class="error text text-danger">{{form.errors.new_password_confirm|striptags}}</label>
      {% endif %}
    </div>
  </div>

  <div class="form-group field-form">
    <div class="col-sm-offset-3 col-sm-12">
      <button type="submit" class="btn btn-success">Update Password</button>
    </div>
  </div>
</form>
{% endblock %}